* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #270140;
}


/* ANIMAÇÃO DO PRELOAD*/

iframe {
    width: 100vw;
    height: 100vh;
    position: absolute;
    border: none;
    z-index: 999;
    background-color: #270140;
    animation-name: preload;
    animation-duration: 5s;
}

@keyframes preload {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}


/*CABEÇALHO*/

#home {
    border-bottom: 2px solid #270140;
}

.header-container {
    font-family: rift-soft, sans-serif;
}


/*HAMBURGUER*/

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #44D1F2;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px #FFF;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 800;
    color: #270140;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

.menu-items ul li a:hover {
    background-color: #270140;
    color: #FFF;
    border-radius: 10px;
    transition: 400ms ease-in-out 0s;
}


/*ANIMAÇÃO DO MENU*/

#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked+.checkbox {
    background-color: #FFF;
}

#toggle:checked~.menu {
    box-shadow: 0px 0px 0px 100vmax #FFF;
    z-index: 1;
}

#toggle:checked~.menu-items {
    visibility: visible;
    opacity: 1;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


/*TEXTO PRINCIPAL*/

h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.corpo {
    display: flex;
    color: #FFF;
}

.imgetext {
    display: flex;
    flex-wrap: wrap;
    font-family: rift-soft, sans-serif;
    font-size: 1.2em;
}

.textperfil {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.titulo-h1,
.tituloprojetos h1,
.titulocursos h1,
.titulocontato h1 {
    color: #FFF;
    font-family: beloved-sans, sans-serif;
    font-size: 2.1em;
    text-align: end;
}

.just {
    display: flex;
    align-items: center;
}

.just p {
    margin-left: 10px;
    font-size: 1.5em;
}

.barrafooter {
    border-bottom: 1px solid #FFF;
}

footer {
    text-align: center;
    font-family: rift-soft, sans-serif;
    color: #FFF;
}

footer p {
    padding: 10px;
}